
.item{
    height: 40px;
    background-color:white;
    border-bottom: 1px solid #e7e6e7;
    font-family: 'Josefin Sans';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: hsl(235, 19%, 35%);
}

.dark-item{
    background-color: #25273c;
    color :hsl(233, 31%, 79%);
    border-bottom: 1px solid  hsl(233, 14%, 35%);

}
.item:first-child , .dark-item:first-child{
    border-radius: 5px 5px 0 0 ;

}

 .item-circle{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #e7e6e7 ;
    background-color :white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    top:20%;
    cursor: pointer;
    margin-left: 15px;
    text-decoration: line-through;

}
.dark-item-circle{
    border: 1px solid  hsl(233, 14%, 35%);
    background-color: #25273c;

}
.item-circle:checked {
    background-image: linear-gradient(135deg,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
} 

.checkmark{
     fill: white;
     position: relative;
     left: -21px;
     top:3px;
}

.dark-checkmark{
    fill:#25273c
}
label{
    cursor: pointer;

}
.checked{
    text-decoration: line-through;

}
.removeBtn{
    background: none;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 25px;
    font:  normal 1em/1 Arial, sans-serif;
    cursor: pointer;
    display: none;
}

.dark-removeBtn{
    color:hsl(233, 14%, 35%);
}
.item:hover .removeBtn{
    display: block;
}
